{% extends 'base.html.twig' %}

{% block title %}{{ category.title }}{% endblock %}

{% block body %}

<div class="container-forum">

    <div class="forum">

        <h2>Edition / {{ category.title }}</h2>

        {{ form_start(editCategoryForm) }}

            {{ form_row(editCategoryForm.title) }}

            <button type="submit" class="button-ajouter-comment">Modifier</button>
        {{ form_end(editCategoryForm) }}

    </div>

</div>

{% endblock %}