<div class="block-forum">

    <div class="forum-title">
        <h4 class="card-title text-truncate">{{ post.title[0:30] }}</h4>
        <a href="{{ path('category-bySlug', {slug: post.category.slug}) }}" class="badge bg-primary">{{ post.category.title }}</a>
    </div>

    <div class="forum-desc">
        <p class="card-text">{{ post.content[0:100] }}...</p>
    </div>

    <div class="forum-date">
        <div class="btn-group">
            <a href="{{ path('topic-bySlug', {slug: post.slug}) }}" class="btn btn-sm btn-outline-secondary">Voir</a>
        </div>
        <small class="text-muted">{{ post.publishedDate|date('d/m/Y H:i') }}</small>
    </div>

</div>
