{% extends 'base.html.twig' %}

{% block title %}Ajouter un topic{% endblock %}

{% block body %}

<div class="container-forum">

    <div class="forum">

        <h2>Ajouter un forum</h2>

        {{ form_start(topicForm) }}

            {{ form_row(topicForm.title) }}
            {{ form_row(topicForm.category) }}
            {{ form_row(topicForm.content) }}

            <button type="submit" class="button-ajouter-comment">Poster</button>

        {{ form_end(topicForm) }}

    </div>

</div>

{% endblock %}