{% extends 'base.html.twig' %}

{% block title %}{{ topic.title }}{% endblock %}

{% block body %}
    <h2>Edition / {{ topic.title }}</h2>

    {{ form_start(topicForm) }}

        {{ form_row(topicForm.title) }}
        {{ form_row(topicForm.category) }}
        {{ form_row(topicForm.author) }}
        {{ form_row(topicForm.content) }}

        <button type="submit" class="button-ajouter-comment">Modifier</button>
    {{ form_end(topicForm) }}
{% endblock %}